gradio==5.0.2
litserve==0.2.3
pydantic>=2.9.2
supervision==0.23.0 ; python_full_version > '3.10'
transformers==4.44.2
uvloop==0.20.0
matplotlib==3.7
imageio==2.37.0
imageio-ffmpeg==0.6.0
numpy==1.24.4
pyrealsense2
tikzplotlib
jpeg4py
opencv-python
lmdb
pandas
scipy
loguru